  <aside class="span4">
    <section>

 			<ul class="nav nav-tabs nav-stacked">
        	 <li><%= link_to "Общая информация", finances_path %></li>
        	 <li><%= link_to "Список долгов по месяцам", dolgs_path %></li>
        	 <li><%= link_to "Добавить долг", new_dolg_path %></li>
        	 <li><%= link_to "Список проплат", proplatis_path %></li>
        	 <li><%= link_to "Добавить проплату", new_proplati_path %></li>
        	</ul>

    </section>

  </aside>