<% provide(:title, 'Данные по оплатам') %>
<div class="row">
      <%= render './finances/menu' %>
  <div class="span8">
  	<h1>Данные по оплатам</h1>
<div class="hero-unit">

	<strong>Задолженность на начало месяца:</strong> 
	<%= number_to_currency(@dolgsum, :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %>
	<br>
	<strong>Оплаты за месяц:</strong> <%= number_to_currency(@proplatisum, :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %>
	<br>
	<strong>Задолженность на <%= Russian::strftime(Time.zone.now, "%d %b")  %>:</strong> <%= number_to_currency(@dolg_for_month, :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %>
</div>
  </div>
</div>