<tr>
<td>  <%= delo.dogovor.number %></td>
<td>  <%= link_to delo.dogovor.agent.name, delo.dogovor.agent %> </td>
<td>  <%= Russian::strftime(delo.created_at, "%B") %></td>
<td>  <%= number_to_currency(delo.sum, :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %></td>


<td>  
  <%=   "Отправлен в суд" if delo.status == 1 %>
  <%=   "Принято к рассмотрению" if delo.status == 2 %>
  <%=   "Заседание состоялось" if delo.status == 3 %>
  <%=   "Получено решение суда" if delo.status == 4 %>
  <%=   "Подана аппеляция" if delo.status == 5 %>
  <%=   "Получен исполнительный лист" if delo.status == 6 %>

<%= form_for @delo, :as => :delo, :url => delo_path(delo), :method => "put" do |f| %>

 <%= f.select(:status, options_for_select([['Отправлен в суд', 1], ['Принято к рассмотрению', 2], ['Заседание состоялось', 3], ['Получено решение суда', 4], ['Подана аппеляция', 5], ['Получен исполнительный лист', 6]]), :prompt => "Обновить статус") %>

      <%= f.submit "Обновить статус", class: "btn btn-info" %>
       <% end %>


</td>
  <% if current_user.admin? %>
<td>  

      <%= link_to '<i class=icon-trash></i>'.html_safe, delo, method: :delete,
   								  :class => 'btn btn-mini',
                                  data: { confirm: "You sure?" } %>

      <%= link_to '<i class=icon-pencil></i>'.html_safe, edit_delo_path(delo), 
   								  :class => 'btn btn-mini' %>

</td>
  <% end %>
</tr>