<% provide(:title, 'Новый дом') %>
<div class="row">
      <%= render 'menu' %>

  <div class="span8">


    <%= form_for(@house) do |f| %>
      <%= render 'shared/errorhouse_messages' %>

      <%= f.label :street, "Улица" %>
      <%= f.text_field :street %>

      <%= f.label :number, "Номер дома" %>
      <%= f.text_field :number %>

      <%= f.label :agent_id, "Организация" %>
      <%= f.collection_select(:agent_id, Agent.all, :id, :name) %>

      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>



</div>
</div>