  <aside class="span4">
    <section>

 			<ul class="nav nav-tabs nav-stacked">
        	 <li><%= link_to "Общая информация", '/courts' %></li>
        	 <li><%= link_to "Дела в суде", delos_path %></li>
        	 <li><%= link_to "Добавить иск", new_delo_path %></li>
        	 <li><%= link_to "Исполнительные листы", ilists_path %></li>
        	 <li><%= link_to "Добавить исполнительный лист", new_ilist_path %></li>
        	</ul>

    </section>

  </aside>