<tr>

<td>  <%= proplati.dogovor.number %></td>
<td>  <%= number_to_currency(proplati.sum, :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %></td>
<td>  <%= proplati.date %><br>
</td>
  <% if current_user.admin? %>
<td> 



      <%= link_to '<i class=icon-trash></i>'.html_safe, proplati, method: :delete,
   								  :class => 'btn btn-mini',
                                  data: { confirm: "You sure?" } %>

      <%= link_to '<i class=icon-pencil></i>'.html_safe, edit_proplati_path(proplati), 
   								  :class => 'btn btn-mini' %>

</td>
  <% end %>
</tr>