<% provide(:title, 'Новый договор') %>
<div class="row">
      <%= render './finances/menu' %>

  <div class="span8">


    <%= form_for(@proplati) do |f| %>
      <%= render 'shared/errorproplati_messages' %>

      <%= f.label :sum, "Оплаченная сумма" %>
      <%= f.text_field :sum %>

      <%= f.label :date, "Дата оплаты" %>
      <%= f.date_select :date %>

      <%= f.label :dogovor_id, "Номер договора" %>
      <%= f.collection_select(:dogovor_id, Dogovor.all, :id, :number) %>

      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>




</div>
</div>