<tr> 
<td>  <%= dogovor.number %></td>
<td>  <%= dogovor.date %></td>
<td> <%= link_to dogovor.agent.name, dogovor.agent %></td>
<td> <%= number_to_currency(dogovor.dolgs.sum('sum'), :unit => "руб.", :separator => ",", :delimiter => " ", :format => "%n %u") %> </td>
  <% if current_user.admin? %>
<td>  

      <%= link_to '<i class=icon-trash></i>'.html_safe, dogovor, method: :delete,
   								  :class => 'btn btn-mini',
                                  data: { confirm: "You sure?" } %>

      <%= link_to '<i class=icon-pencil></i>'.html_safe, edit_dogovor_path(dogovor), 
   								  :class => 'btn btn-mini' %>

</td>
  <% end %>
</tr>