<% provide(:title, "Edit agent") %>
<div class="row">
      <%= render './courts/menu' %>

 <h1>Update agent</h1>

  <div class="span8">

    <%= form_for(@house) do |f| %>
      <%= render 'shared/errorhouse_messages' %>

      <%= f.label :street, "Улица" %>
      <%= f.text_field :street %>

      <%= f.label :number, "Номер дома" %>
      <%= f.text_field :number %>

      <%= f.label :agent_id, "Организация" %>
      <%= f.text_field :agent_id %>

      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
</div>