<% provide(:title, 'Новый договор') %>
<div class="row">
      <%= render './courts/menu' %>
  <div class="span8">


    <%= form_for(@dolg) do |f| %>
      <%= render 'shared/errordolg_messages' %>

      <%= f.label :sum, "Сумма долга" %>
      <%= f.text_field :sum %>

      <%= f.hidden_field :month, :value => Time.zone.now.month %>

      <%= f.label :dogovor_id, "Номер договора" %>
      <%= f.collection_select(:dogovor_id, Dogovor.all, :id, :number) %>

      <%= f.submit "Создать", class: "btn btn-large btn-primary" %>
    <% end %>



</div>
</div>